# Lab 5

In [1]:
import pandas as pd
import arff
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
with open('dane.arff', 'r') as f:
    data = arff.load(f)
attributes = [attr[0] for attr in data['attributes']]
data_rows = data['data']
df = pd.DataFrame(data_rows, columns=attributes)

Dokonaj wstępnej inspekcji pierwszych 20 wierszy. Co widzisz? Jaka jest liczba (features) cech w zbiorze?
 - features: 14
 - brakuje danych w features: age,cabin,embarked,boat,body,home.dest
 - przy czym boat cabin i body mają ponad 50% brakujących danych, body aż 90%

VARIABLE DESCRIPTIONS
- Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
- survival Survival (0 = No; 1 = Yes)
- name Name
- sex Sex
- age Age
- sibsp Number of Siblings/Spouses Aboard
- parch Number of Parents/Children Aboard
- ticket Ticket Number
- fare Passenger Fare (British pound)
- cabin Cabin
- embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
- boat Lifeboat
- body Body Identification Number
- home.dest Home/Destination

In [24]:
df.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,cabinNull,boatNull,home.destNull,ageNull
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0,0,0,0
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0,0,0,0
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON",0,1,0,0
3,1.0,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON",0,1,0,0
4,1.0,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON",0,1,0,0
5,1.0,1,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY",0,0,0,0
6,1.0,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY",0,0,0,0
7,1.0,0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,None,NaN,"Belfast, NI",0,1,0,0
8,1.0,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY",0,0,0,0
9,1.0,0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,None,C,None,22.0,"Montevideo, Uruguay",1,1,0,0
10,1.0,0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,None,124.0,"New York, NY",0,1,0,0
11,1.0,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY",0,0,0,0
12,1.0,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France",0,0,0,0
13,1.0,1,"Barber, Miss. Ellen 'Nellie'",female,26.0000,0.0,0.0,19877,78.8500,None,S,6,NaN,None,1,0,1,0
14,1.0,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks",0,0,0,0
15,1.0,0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,None,S,None,NaN,"New York, NY",1,1,0,1
16,1.0,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,None,NaN,"Montreal, PQ",0,1,0,0
17,1.0,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ",0,0,0,0
18,1.0,1,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,None,0,0,1,0
19,1.0,0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN",0,0,0,0

2.     Sprawdź, ile jest wartości brakujących używając funkcji pd.isnull().sum() oraz pd.isnull().mean.

In [4]:
print('Wymiary: rows:', df.shape[0],'features:', df.shape[1])
print(df.isnull().sum())
print(df.isnull().mean())

Wymiary: rows: 1309 features: 14
pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64
pclass       0.000000
survived     0.000000
name         0.000000
sex          0.000000
age          0.200917
sibsp        0.000000
parch        0.000000
ticket       0.000000
fare         0.000764
cabin        0.774637
embarked     0.001528
boat         0.628724
body         0.907563
home.dest    0.430863
dtype: float64

Zbadajmy feature: body, ponieważ tam brakuje najwięcej danych

In [16]:
non_survivors = df.groupby('survived').size()[0]
found_bodies = df.groupby('survived')['body'].count()[0]
not_found_bodies = non_survivors - found_bodies
survivors_and_not_found_bodies = len(df['survived']) - found_bodies
print('Ilość osób które nie przeżyły:',non_survivors)

print('Ilość znalezionych ciał:',found_bodies)

print('Ilość NIE znalezionych ciał:',not_found_bodies)

print("Ilość wartości NaN:", survivors_and_not_found_bodies) 
print("Suma NIE znalezionych ciał i osób które przeżyły jest równa ilości wartośći NaN w naszym zbiorze, stąd ponad 90% 'brakujących' danych")
print("Oznacza to, że jest to MNAR, ponieważ dla każdego survived == 1, mamy NaN")
print("\nW jaki sposób należy postąpić z brakującymi wartościami ?")
print("Można dokonać imputacji medianom/średnią/modą lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych")

Ilość osób które nie przeżyły: 809
Ilość znalezionych ciał: 121
Ilość NIE znalezionych ciał: 688
Ilość wartości NaN: 1188
Suma NIE znalezionych ciał i osób które przeżyły jest równa ilości wartośći NaN w naszym zbiorze, stąd ponad 90% 'brakujących' danych
Oznacza to, że jest to MNAR, ponieważ dla każdego survived == 1, mamy NaN

W jaki sposób należy postąpić z brakującymi wartościami ?
Można dokonać imputacji medianom lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych

Następnie zbadajmy feature: cabin == MAR

In [17]:
df['cabinNull'] = np.where(df['cabin'].isnull(), 1, 0)
print(df.groupby(['survived','cabinNull']).size())
print('Najwięcej danych brakuje dla osób, które nie przeżyły: 707. Co ciekawe dla osób, które przetrwały mamy 307 brakujących danych')
print('Może pasażerowie w ramach szoku zapomnieli, w jakich kabinach mieszkali, lub jest to część załogi, która mieszkała w niezonazkowanych kabinach')
print('Jest to jedynie spekulacja, więc możemy oznaczyć tą kolumną jako MAR, ponieważ brakujące dane nie mają jednostajnego rozkładu')
print("\nW jaki sposób należy postąpić z brakującymi wartościami ?")
print("Można dokonać imputacji medianom/średnią/modą lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych")

survived  cabinNull
0         0            102
          1            707
1         0            193
          1            307
dtype: int64
Najwięcej danych brakuje dla osób, które nie przeżyły: 707. Co ciekawe dla osób, które przetrwały mamy 307 brakujących danych
Może pasażerowie w ramach szoku zapomnieli, w jakich kabinach mieszkali, lub jest to część załogi, która mieszkała w niezonazkowanych kabinach
Jest to jedynie spekulacja, więc możemy oznaczyć tą kolumną jako MAR, ponieważ brakujące dane nie mają jednostajnego rozkładu

W jaki sposób należy postąpić z brakującymi wartościami ?
Można dokonać imputacji medianom lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych

Następnie zbadajmy feature: boat == MNAR

In [18]:
df['boatNull'] = np.where(df['boat'].isnull(), 1, 0)
print(df.groupby(['survived','boatNull']).size())
print("9 osób, które nie przeżyły, były na łodzi oraz 23 osoby które były na łodziach nie przeżyły")
print('Jak można się domyślić, wartość NaN w kolumnie: boat, oznacza, że osoba nie wylądowała na szalupie ratunkowej, ponieważ aż 800 osób które nie przetrwało, nie było na łodziach. A 477 które przetrwało było na łodziach. Więc jest tu ewidentna zależność')
print('Tak więc, brakujące dane w kolumnie: boat oznaczymy jako MNAR')
print("\nW jaki sposób należy postąpić z brakującymi wartościami ?")
print("Można dokonać imputacji medianom/średnią/modą lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych")

survived  boatNull
0         0             9
          1           800
1         0           477
          1            23
dtype: int64
9 osób, które nie przeżyły, były na łodzi oraz 23 osoby które były na łodziach nie przeżyły
Jak można się domyślić, wartość NaN w kolumnie: boat, oznacza, że osoba nie wylądowała na szalupie ratunkowej, ponieważ aż 800 osób które nie przetrwało, nie było na łodziach. A 477 które przetrwało było na łodziach. Więc jest tu ewidentna zależność
Tak więc, brakujące dane w kolumnie: boat oznaczymy jako MNAR

W jaki sposób należy postąpić z brakującymi wartościami ?
Można dokonać imputacji medianom lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych

In [19]:
# FUN FACT 
df.groupby('sex')["fare"].mean()

sex
female    46.198097
male      26.154601
Name: fare, dtype: float64

Następnie zbadajmy feature: home.dst == MAR

In [20]:
df['home.destNull'] = np.where(df['home.dest'].isnull(), 1, 0)
print(df.groupby(['survived','home.destNull']).size())
print("Nie dostrzegam, żadnej zależności pomiędzy survived a home.dest. Więc można sklasyfikować tą kolumnę jako MAR, nie MCAR, ponieważ dane nie są rozłożenie porówno")
print("\nW jaki sposób należy postąpić z brakującymi wartościami ?")
print("Można dokonać imputacji medianom/średnią/modą lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych")

survived  home.destNull
0         0                398
          1                411
1         0                347
          1                153
dtype: int64
Nie dostrzegam, żadnej zależności pomiędzy survived a home.dest. Więc można sklasyfikować tą kolumnę jako MAR, nie MCAR, ponieważ dane nie są rozłożenie porówno

W jaki sposób należy postąpić z brakującymi wartościami ?
Można dokonać imputacji medianom lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych

Następnie zbadajmy feature: age == MNAR

In [21]:
df['ageNull'] = np.where(df['age'].isnull(), 1, 0)
print(df.groupby(['pclass','ageNull']).size())
print(df.groupby(['survived','ageNull']).size())
print("Najwięcej brakujących danych jest dla pasażerów 3 klasy, dodatkowo jest prawie 3 razy więcej brakujących danych dla osób które nie przetrwały")
print("Tak więc można by uznać, że danych nie można było pozyskać na temat osób, które nie przetrwały a dla osób 3 kategorii nawet nie próbowano")
print("Można sklasyfikować tą kolumnę jako MNAR")
print("\nW jaki sposób należy postąpić z brakującymi wartościami ?")
print("Można dokonać imputacji medianom/średnią/modą lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych")

pclass  ageNull
1.0     0          284
        1           39
2.0     0          261
        1           16
3.0     0          501
        1          208
dtype: int64
survived  ageNull
0         0          619
          1          190
1         0          427
          1           73
dtype: int64
Najwięcej brakujących danych jest dla pasażerów 3 klasy, dodatkowo jest prawie 3 razy więcej brakujących danych dla osób które nie przetrwały
Tak więc można by uznać, że danych nie można było pozyskać na temat osób, które nie przetrwały a dla osób 3 kategorii nawet nie próbowano
Można sklasyfikować tą kolumnę jako MNAR

W jaki sposób należy postąpić z brakującymi wartościami ?
Można dokonać imputacji medianom lub metodami jak forward/backward fill, aczkolwiek ryzykujemy zwiększeniem bias w danych

Następnie zbadajmy features: fare oraz embark  == MCAR

In [22]:
print(df[['fare','embarked']].isnull().mean())
print("Brakujących danych w kolumnach fare i embarked, jest tak niewiele, że można je odrazu sklasyfikować jako MCAR")
print("\nW jaki sposób należy postąpić z brakującymi wartościami ?")
print("Można usunąć wiersze, gdzie brakuje danych, ponieważ nie tracimy wiele danych")

fare        0.000764
embarked    0.001528
dtype: float64
Brakujących danych w kolumnach fare i embarked, jest tak niewiele, że można je odrazu sklasyfikować jako MCAR

W jaki sposób należy postąpić z brakującymi wartościami ?
Można usunąć wiersze, gdzie brakuje danych, ponieważ nie tracimy wiele danych